# Backend Connection
VITE_API_ORIGIN=http://localhost:5000
VITE_SOCKET_ORIGIN=http://localhost:5000

# TURN Server (Metered.ca)
VITE_TURN_URL="turn:global.relay.metered.ca:80"
VITE_TURN_USERNAME="519c42d3540b736d1d9fd425"
VITE_TURN_PASSWORD="f3G6Fgyh8YHJfTnF"
